<header class="header">
  <nav>
    <div>
      <a class="logo" href="{{ '/' | absolute_url }}" aria-label="MRSK">MRSK</a>

{% if site.data.github.tag_name %}

      <a class="release" href="https://github.com/mrsked/mrsk/releases" target="_blank" rel="noopener">{{ site.data.github.tag_name }}</a>

{% endif %}

    </div>
    <ul>

{% for item in site.data.nav %}

  {% assign item_collection = item.collection | default: false %}

      <li{% if item.url == page.url or item_collection == page.collection %} class="selected"{% endif %}><a href="{{ item.url }}"{% if item.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ item.title | smartify }}">{{ item.title | smartify }}</a></li>

{% endfor %}

    </ul>
  </nav>
</header>
