{% if page.version == 'v1' %}

  {% assign github_tag_name = site.data.github.v1.tag_name %}

{% else %}

  {% assign github_tag_name = site.data.github.tag_name %}

{% endif %}

<header class="header">
  <nav>
    <div>
      <a class="logo" href="{{ '/' | absolute_url }}" aria-label="Kamal">Kamal</a>
      <a class="release" href="https://github.com/basecamp/kamal/releases" target="_blank" rel="noopener">{{ github_tag_name }}</a>
    </div>
    <ul>

{% for item in site.data.nav %}

  {% assign item_title = item.title | smartify %}
  {% assign item_options = item.options %}

      <li>
        <a href="{{ item.url | absolute_url }}"{% if item.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ item_title }}">
          <span>{{ item_title }}</span>

  {% if item_options %}

          <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m8 12c-.4012 0-.7369-.149-1.0726-.4885l-6.05895-6.26771c-.245633-.25667-.36845-.55474-.36845-.91076 0-.73689.58133-1.33303 1.30186-1.33303.36026 0 .69596.14903.96615.42226l5.24018 5.46458 5.23201-5.46458c.2702-.27323.6059-.42226.9579-.42226.7206 0 1.3019.59614 1.3019 1.33303 0 .3643-.1228.66237-.3685.91076l-6.0589 6.26771c-.31933.3312-.66321.4885-1.0726.4885z" fill="currentColor"/></svg>

  {% endif %}

        </a>

  {% if item_options %}

        <ol>

    {% for option in item_options %}

      {% assign option_title = option.title | smartify %}
      {% assign option_url = option.url | absolute_url %}

      {% assign page_url = page.url | absolute_url %}

          <li{% if page_url contains option_url %} class="selected"{% endif %}>
            <a href="{{ option_url }}"{% if option.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ option_title }}">{{ option_title }}</a>
          </li>

    {% endfor %}

        </ol>

  {% endif %}

      </li>

{% endfor %}

    </ul>
  </nav>
</header>
