<header class="header">
  <nav>
    <div>
      <a class="logo" href="{{ '/' | absolute_url }}" aria-label="Kamal">Kamal</a>

{% if site.data.github.tag_name %}

      <a class="release" href="https://github.com/basecamp/kamal/releases" target="_blank" rel="noopener">{{ site.data.github.tag_name }}</a>

{% endif %}

    </div>
    <ul>

{% for item in site.data.nav %}

  {% assign item_title = item.title | smartify %}

      <li{% if item.url == page.url %} class="selected"{% endif %}><a href="{{ item.url | absolute_url }}"{% if item.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ item_title }}">{{ item_title }}</a></li>

{% endfor %}

    </ul>
  </nav>
</header>
