<input class="nav-active" id="nav-active" type="checkbox">

<nav class="nav">
  <div class="nav__toggle">
    <label for="nav-active">
      <span></span>
    </label>
  </div>
  <div class="nav__options">
    <ul>

{% for item in site.data.nav %}

  {% assign item_title = item.title | smartify %}
  {% assign item_url = item.url %}

      <li{% if page.url contains item_url %} class="selected"{% endif %}>
        <a href="{{ item_url }}"{% if item.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ item_title }}">{{ item_title }}</a>

  {% if item_url == '/docs/' %}

        <ul>

    {% for doc in site.data.docs %}

      {% assign doc_title = doc.title | smartify %}
      {% assign doc_url = doc.url %}
      {% assign doc_sections = doc.sections %}

      {% if doc_sections and doc.index == false %}

        {% assign section_first = doc_sections | first %}
        {% assign section_url = section_first.url %}

      {% else %}

        {% assign section_url = null %}

      {% endif %}

          <li{% if page.url contains doc_url %} class="selected"{% endif %}>
            <a href="{{ section_url | default: doc_url | absolute_url }}" aria-label="{{ doc_title }}">{{ doc_title }}</a>

      {% if page.url contains doc_url and doc_sections %}

            <ul class="sections">

        {% for section in doc_sections %}

          {% assign section_title = section.title | smartify %}
          {% assign section_url = section.url %}

              <li{% if section_url contains page.url %} class="selected"{% endif %}><a href="{{ section_url | absolute_url }}" aria-label="{{ section_title }}">{{ section_title }}</a></li>

          {% if section_url contains page.url %}

            {% assign breadcrumb_doc_title = doc_title %}
            {% assign breadcrumb_doc_url = doc.url %}
            {% assign breadcrumb_section_title = section_title %}

          {% endif %}

        {% endfor %}

            </ul>

      {% endif %}

          </li>

    {% endfor %}

        </ul>

  {% endif %}

      </li>

{% endfor %}

    </ul>
  </div>
</nav>
