.headline {

  display: flex;
  flex-direction: column;
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
  padding-top: var(--space-xx-large);

  header {

    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: -0.4em;
    margin-top: -0.2em;
    text-align: center;

    br {
      display: none;
    }

  }

  @media(min-width: 64em) {

    padding-left: var(--space-x-large);
    padding-right: var(--space-x-large);

    header {

      br {
        display: inline;
      }

    }

  }

}
