.header {

  display: flex;
  flex-direction: column;
  padding: var(--space-medium);

  nav {

    align-items: center;
    display: flex;
    justify-content: space-between;

    div {

      align-items: center;
      display: flex;
      gap: 0.35em;
      z-index: 102;

      a.logo {
        color: var(--color-grey);
        font-size: var(--font-size-x-large);
        font-weight: 900;
        letter-spacing: -0.02em;
        line-height: 1em;
        padding: 0.125em 0 0 0;
        text-decoration: none;
      }

      a.release {
        background: var(--color-base-darker);
        border-radius: 1.1em;
        color: var(--color-grey);
        display: flex;
        font-family: var(--font-family-mono);
        font-size: 35%;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1em;
        padding: 0.6em 0.9em;
        text-decoration: none;
        transition:
          background var(--transition),
          color var(--transition)
        ;
      }

    }

    ul {

      align-items: center;
      display: none;
      font-size: var(--font-size-xx-small);
      letter-spacing: -0.01em;
      list-style: none;
      margin-right: -1.2em;
      padding: 0;

      > li {

        margin: 0;
        position: relative;

        > a {
          border-radius: 2.5em;
          color: var(--color-blue);
          display: flex;
          letter-spacing: -0.01em;
          line-height: 1em;
          margin-bottom: 0.3em;
          margin-top: 0.3em;
          padding: 0.8em 1.2em 0.7em 1.2em;
          text-align: center;
          text-decoration: none;
          transition:
            background var(--transition),
            color var(--transition)
          ;
        }

        ol {

          background: var(--color-white);
          border-radius: 0.3em;
          box-shadow:
            0 0 0 1px rgba(var(--rgb-black), 0.075),
            0 10px 30px -15px rgba(var(--rgb-black), 0.125),
            0 20px 20px -30px rgba(var(--rgb-black), 0.125)
          ;
          display: none;
          font-size: 90%;
          list-style: none;
          margin: 0;
          padding: 1em 0;
          position: absolute;
          z-index: 1;

          li {

            margin: 0;

            a {
              color: var(--color-grey-light);
              display: block;
              font-weight: 400;
              padding: 0.35em 1.6em 0.3em 1.6em;
              text-decoration: none;
              white-space: nowrap;
            }

            &.selected a {
              color: var(--color-grey);
              font-weight: 500;
            }

          }

        }

      }

    }

  }

  @media(hover: hover) {

    nav {

      div {

        a.logo {

          &:focus,
          &:hover {
            color: var(--color-blue);
          }

        }

        a.release {

          &:focus,
          &:hover {
            background: var(--color-blue);
            color: var(--color-white);
          }

        }

      }

      ul > li {

        > a {

          &:focus,
          &:hover {
            background: var(--color-base-darker);
            color: var(--color-grey);
          }

        }

        ol li a {

          &:focus,
          &:hover {
            color: var(--color-grey);
            text-decoration: underline;
          }

        }

        &:focus,
        &:hover {

          > a {
            background: var(--color-base-darker);
            color: var(--color-grey);
          }

          ol {
            display: block;
          }

        }

      }

    }

  }

  @media(min-width: 64em) {

    padding-left: var(--space-large);
    padding-right: var(--space-large);

    nav ul {
      display: flex;
    }

  }

}
