@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 200;
	src: url('../fonts/ColfaxWebThin.eot');
	src: url('../fonts/ColfaxWebThin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebThin.woff2') format('woff2'),
       url('../fonts/ColfaxWebThin.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 200;
	src: url('../fonts/ColfaxWebThinItalic.eot');
	src: url('../fonts/ColfaxWebThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebThinItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 300;
	src: url('../fonts/ColfaxWebLight.eot');
	src: url('../fonts/ColfaxWebLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebLight.woff2') format('woff2'),
       url('../fonts/ColfaxWebLight.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 300;
	src: url('../fonts/ColfaxWebLightItalic.eot');
	src: url('../fonts/ColfaxWebLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebLightItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 400;
	src: url('../fonts/ColfaxWebRegular.eot');
	src: url('../fonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebRegular.woff2') format('woff2'),
       url('../fonts/ColfaxWebRegular.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 400;
	src: url('../fonts/ColfaxWebRegularItalic.eot');
	src: url('../fonts/ColfaxWebRegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebRegularItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 500;
	src: url('../fonts/ColfaxWebMedium.eot');
	src: url('../fonts/ColfaxWebMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebMedium.woff2') format('woff2'),
       url('../fonts/ColfaxWebMedium.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 500;
	src: url('../fonts/ColfaxWebMediumItalic.eot');
	src: url('../fonts/ColfaxWebMediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebMediumItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebMediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 700;
	src: url('../fonts/ColfaxWebBold.eot');
	src: url('../fonts/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebBold.woff2') format('woff2'),
       url('../fonts/ColfaxWebBold.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 700;
	src: url('../fonts/ColfaxWebBoldItalic.eot');
	src: url('../fonts/ColfaxWebBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebBoldItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 900;
	src: url('../fonts/ColfaxWebBlack.eot');
	src: url('../fonts/ColfaxWebBlack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebBlack.woff2') format('woff2'),
       url('../fonts/ColfaxWebBlack.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: italic;
  font-weight: 900;
	src: url('../fonts/ColfaxWebBlackItalic.eot');
	src: url('../fonts/ColfaxWebBlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebBlackItalic.woff2') format('woff2'),
       url('../fonts/ColfaxWebBlackItalic.woff') format('woff');
}
