.highlight {

  color: var(--color-grey);

  // .hll { }
  // .err { }
  .c   { font-style: italic; }
  // .g   { }
  // .k   { }
  // .l   { }
  // .n   { }
  // .o   { }
  // .x   { }
  // .p   { }
  .cm  { font-style: italic; }
  // .cp  { }
  .c1  { font-style: italic; }
  .cs  { font-style: italic; }
  // .gd  { }
  .ge  { font-style: italic; }
  // .gr  { }
  // .gh  { }
  // .gi  { }
  // .go  { }
  // .gp  { }
  // .gs  { }
  // .gu  { }
  // .gt  { }
  // .kc  { }
  // .kd  { }
  // .kn  { }
  // .kp  { }
  // .kr  { }
  // .kt  { }
  // .ld  { }
  // .m   { }
  // .s   { }
  // .na  { }
  // .nb  { }
  // .nc  { }
  // .no  { }
  // .nd  { }
  // .ni  { }
  // .ne  { }
  // .nf  { }
  // .nl  { }
  // .nn  { }
  // .nx  { }
  // .py  { }
  // .nt  { }
  // .nv  { }
  // .ow  { }
  // .w   { }
  // .mf  { }
  // .mh  { }
  // .mi  { }
  // .mo  { }
  // .sb  { }
  // .sc  { }
  // .sd  { }
  // .s2  { }
  // .se  { }
  // .sh  { }
  // .si  { }
  // .sx  { }
  // .sr  { }
  // .s1  { }
  // .ss  { }
  // .bp  { }
  // .vc  { }
  // .vg  { }
  // .vi  { }
  // .il  { }

}
